<div id="footer">
<div>Pour tout renseignement ou services contacter nous directement :</div>
<span>R&eacute;dacteur en chef : <a href="mailto:marcvincent@magicalworld.com" title="Rédacteur en chef">marcvincent@magicalworld.com</a></span> /
<span>Journaliste Spécialis&eacute; : <a href="mailto:phillipe@magicalworld.com" title="Journaliste Spécialis&eacute;">phillipe@magicalworld.com</a></span> /
<span>Webmaster : <a href="mailto:webmaster@magicalworld.com" title="Webmaster">webmaster@magicalworld.com</a></span>
</div>

</body>
</html>